table { 
  border: 1px solid black;      
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, #tab_questions th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr {
  transition: background-color 150ms ease-in-out;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  border: 1px solid black;
}

body {
  background-color: rgb(240, 216, 200);
  font-family: 'Righteous', cursive;
}
h1{
  border-bottom: 1px solid black;
  text-align:center;

}
textarea 
{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
/*ask_question file css */
#container
{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border: 2px solid black;
  border-radius: 22px;

}

#title1
{
  font-weight: 900;
  text-align:center
  
}

#label1
{

  text-align:center
  
}

.button1
{
  margin: 0 auto;
  text-align:center



}
/*end of ask_question file css */
/*q_list file css */



/*
 th {
    border: 1px solid #999;
    padding: 0.1em 1em;
    word-wrap: break-word;
    font-size: 130%
    }
td {
    border: 1px solid #999;
    padding: 0.1em 1em;
    word-wrap: break-word;

    } 
*/
    #tab_questions {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }
  
  #tab_questions td, #tab_questions th {
      border: 1px solid #ddd;
      padding: 8px;
  }
  
  #tab_questions tr:nth-child(even){background-color: #f2f2f2;}
  
  #tab_questions tr:hover {background-color: #ddd;}
  
  #tab_questions th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
      border: 1px solid black;
  }

  .main_label 
  {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;

  }


.topnav {
  overflow: hidden;
  background-color: #30ddb2;
  border-bottom: 1px solid black;
  border-top: 1px solid black;     
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(234, 240, 239);
  font-size: 17px;
  border: 1 solid rgb(0, 3, 3);
  cursor: pointer;
}

/*end q_list file css */
#title2
{
  margin-top:20px;
  font-size:44px;


}

#title3
{
  margin-top:5px;
  font-size:22px;
  border-top:2px solid black;
  border-bottom: 1px solid black;
  background: rgb(69, 177, 47);
  color:white;
}

#title4
{
  margin-top:5px;
  font-size:18px;
  border-top:1px solid black;
  background: rgb(115, 231, 91);
}
#title5
{
  margin-top:5px;
  font-size:22px;
  border-top:1px solid black;
  background: rgb(115, 231, 91);
}
#title6
{
  font-size:22px;
  border-top:1px solid black;
  background: rgb(115, 231, 91);
}


/*question file css */
