<!DOCTYPE html>  
<html>  
    <head>  
        <meta charset="utf-8">  
        <title>Ask Mate - Add New Question</title> 
    </head>  
        <body>  
            <h1>Add New Question</h1> 
            <form action="/new-question" method="post">
                <p><label for="title">Title</label></p> <input id='title' name='title' type="text">
                <p><label for="message">Message</label></p> <textarea id='message' name='message' rows="10" cols="40"></textarea>
                <p><button type="button">Submit Question</button></p>
            </form>
        </body>     
</html>