<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ask Mate - Add New Question</title>
        <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="layout.css")}}'>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    </head>
        <body>
        <div id="container">
        
            
                <div id='title1'>
                    <h1>Add New Question</h1>
                    {% if message %}
                        <h3>{{message}}</h3>
                    {% endif %}
                </div>
                <div class='button1'><p><a href="/list"> <input type="button" value="BACK" name = "add"></a></p></div>
                <div id='label1'>
                    <form action="/new-question" method="post">
                        {% if form %}
                        <p><label for="title">Title</label></p> <input id='title' name='title' type="text" value='{{form['title']}}'>
                        <p><label for="message">Message</label></p>
                            <textarea id='message' name='message' rows="10" cols="40">{{form['message']}}</textarea>
                        {% else %}
                        <p><label for="title">Title</label></p> <input id='title' name='title' type="text">
                        <p><label for="message">Message</label></p>
                            <textarea id='message' name='message' rows="10" cols="40"></textarea>
                        {% endif %}


                        <select id='user_id' name='user_id'>
                            <option value="">--Please choose an option--</option>
                             {% for row in all_users_name %}
                                <option value={{ row['user_id'] }}> {{ row['user_name'] }} </option>
                             {% endfor %}
                         </select>


                        <div class='button1'><p><button type="submit">ADD QUESTION</button></p></div>
                        <div style="clear:both"></div>
                
                    </form>
                </div>
        </div>
        </body>
</html>