<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quest["title"] }}</title>
    <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="layout2.css")}}'>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>

<body>
    <p>
        <a href="/list"> 
            <input type="button" value="BACK" name = "add">
        </a>
    </p>
        <h2>{{ quest["title"] }}</h2>
        <p id="message_in_board">{{ quest["message"] }}</p>

    <table id="comment">
        <th id="submision">Submission time</th>
        <th id="comment">Question comments</th> 
        {% for row in comments_by_id %}
            <tr>
                <td id="sub_time">{{ row['submission_time'] }}</td>
                <td id="message">{{ row['message'] }}</td>
            </tr>
        {% endfor %}
    </table>

        <form action='{{ url_for("comment", q_id = quest["id"]) }}' method="POST">
            <div class="test"><textarea id='comment' name='comment' rows="3" placeholder="Write your comment here"></textarea></div>
            <button id="comment_button" type="submit" name="add_comment" value="add_row">COMMENT</button>
        </form>

    <h2>ANSWERS</h2>

    <table id="answer">
            <th id="submision">Submission time</th>
            <th id="message">Answer</th>
            <th id="delete">Delete</th>

                {% for row in answers_by_id %}
                    <tr>
                        <td id="sub_time">{{ row['submission_time'] }}</td>
                        <td id="message">{{ row['message'] }}</td>
                        <td>
                            <form action='{{ url_for("delete_answer", a_id = row["id"]) }}' method="POST">
                                <button type="submit" name="delete_answer" value="delete_row">DELETE</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <p></p><label for="message">Post Answer:</label></p>
            <form action='{{ url_for("new_answer", q_id = quest["id"]) }}' method="POST">
                <div class="test"><textarea id='answer' name='answer' placeholder="Write your answer here" rows="3"></textarea>
                <p><button type="submit" name="add_answer" value="add_row">ANSWER</button></p>
            </form>
            <h3>{{message}}</h3>
</body>
</html>