<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="layout.css") }}'>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
    <p><a href="/list"> <input type="button" value="BACK" name = "back"></a></p>

    <form name="form1" action='{{ url_for("register")}}' method="POST" onsubmit="return required()">

        <p>Username</p>

        <input type="text" id='username' name='username' >

        <p>Password</p>
        <input type="text" id='password' name='password' >

        <p><button type="submit" name="register" value="register">REGISTER</button></p>
    </form>

   <h3>{{message}}</h3> {# Wiadomosc o istniejacym uzytkowniku#}
<script src="/static/non-empty.js"></script>
</body>
</html>