<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <p><a href="/list"> <input type="button" value="BACK" name = "back"></a></p>

    <form action='{{ url_for("register")}}' method="POST">

        <p>Username</p>

        <input type="text" id='username' name='username' >

        <p>Password</p>
        <input type="text" id='password' name='password' >
        
        <p><button type="submit" name="register" value="register">REGISTER</button></p>
    </form>

   <h3>{{message}}</h3> {# Wiadomosc o istniejacym uzytkowniku#}

</body>
</html>