<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="layout.css") }}'>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
    <p><a href="/list"> <input type="button" value="BACK" name = "back"></a></p>

    <form action='{{ url_for("register")}}' method="POST">

        <p>Username</p>
        <textarea id='username' name='username' rows="1"> </textarea>

        <p>Password</p>
        <textarea id='password' name='password' rows="1"> </textarea>

        <p><button type="submit" name="register" value="register">REGISTER</button></p>
    </form>

   <h3>{{message}}</h3> {# Wiadomosc o istniejacym uzytkowniku#}

</body>
</html>