<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>hfghgfhf</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="layout.css") }}'>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
<div class='main_label'>
    <p><a href="/users"> <input type="button" value="BACK" name="add"></a></p>
    <div id='title2'>
       USER:  {{ list_of_questions[0]["user_name"] }}
    </div>

    <div id='title3'>
        Your Activities
    </div>
    <div id='title4'>
        QUESTIONS
    </div>
    <table style="width:100%">

        {% for row in list_of_questions %}
            <tr>
                <td> 
                    <a href="{{ url_for('question', q_id = row["id"] ) }}">{{ row['title'] }} </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div id="title4">
        ANSWERS
    </div>
    <table style="width:100%">
        {% for row in list_of_answers %}
            <tr>
                <td>
                    <a href="{{ url_for('question', q_id = row["id"] ) }}">{{ row['title'] }} </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div id="title4">
        COMMENTS
    </div>
    <table style="width:100%">
        {% for row in list_of_comments %}
            <tr>
                <td>
                    <a href="{{ url_for('question', q_id = row["id"] ) }}">{{ row['title'] }} </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h3>{{ message }}</h3>
</div>
</body>
</html>